.container {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: var(--space-4);
  height: calc(100vh - 100px);
}

.workspaceWrapper {
  overflow: hidden;
  height: 100%;
}

.workspace {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: var(--space-4);
  height: 100%;
}
